<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/dashboard">PassVolt </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if(isLoggedIn !=''){ %>
          <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashbord</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewallpassword">View All Password</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/addnewPassword">Add New Password</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
          </li>
          <% } else { %>
              <li class="nav-item">
                  <a class="nav-link" href="/login">LogIn</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/signup">SignUp</a>
              </li>
              <% } %>
      </ul>
      </form>
      <% if(isLoggedIn !=''){ %>
      <div class="navbar-header" style="float: right;"> <a class="navbar-brand" href="#">Loggedin As: <% if(isLoggedIn){ %> <%= isLoggedIn  %> <% } %></a></div>
      <% } %>
    </div>
  </div>
</nav>
