<%- include('./partials/head.ejs') %>
<div class="container">
  <div class="row">
    <div class="navbar-header"> <h1> Add New Password</h1></div>
        </div>
    <div
      id="signupbox"
      style="margin-top: 50px"
      class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"
    >
      <div class="panel panel-info">
        
        <div class="panel-heading">
          
        <% if(msg !== "") { %>
          <div class="alert alert-success font-weight-bold text-center"><%= msg %></div>
        <% } %>
        <div class="panel-body">
          <form
            action="/addnewPassword"
            id="passwordform"
            class="form-horizontal"
            method="post"
            role="form"
          >

            <div class="form-group">
                <label for="passwordName">Password Name</label>
                <input type="text" class="form-control" id="passwordName" name="passwordName">
            </div>
              
            
            <div class="form-group">
                <label for="passwordDetails">Password Details</label>
                <textarea
                name="passwordDetails"
                class="form-control"
                id="passwordDetails"
                cols="30"
                rows="10"
                ></textarea>
            </div>

        </div>
        
        
        <div class="form-group">
              <!-- Button -->
            <div class="col-md-offset-3 col-md-9">
            <input
                type="submit"
                name="submit"
                value="Add Password"
                class="btn btn-primary"
                />
              </div>
            </div>


            
        </form>
        </div>
      </div>
    </div>
</div>

<%- include('./partials/footer.ejs')%>



